<table>
  <thead>
    <th>Vorhaben</th>
    <th>Status</th>
    <th>Datum</th>
    <th>Nachweise</th>
  </thead>
  <tbody>
{% for statement in include.statements %}
<tr id="{{ statement.id }}">
  <td class="allow-wrap">
    {{ statement.summary }}
    <small>
      <a class="back-ref" href="#ref-{{ statement.id }}" title="Stelle im Text">
        📃
        <span class="sr-only">Stelle im Text</span>
      </a>
    </small>
  </td>
  <td>
    {% if statement.status == "not_implemented" %}
      ⚪️
    {% else if statement.status == "implemented" %}
      ✅
    {% else if statement.status == "partially_implemented" %}
      ☑️
    {% else if statement.status == "broken" %}
      ❌
    {% endif %}
  </td>
  <td>{% if statement.last_update %}{{ statement.last_update }}{% else %}-{% endif %}</td>
  <td>
    {% if statement.reports %}
      <ul>
      {% for report in statement.reports %}
        <li>
          <a href="{{ report.url }}">{{ report.title }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>