<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>

    <title>Redirecting to {{ page.redirect_url | default: site.redirect_url }}</title>
    <meta http-equiv="refresh" content="0; URL={{ page.redirect_url | default: site.redirect_url }}">
    <link rel="canonical" href="{{ page.redirect_url | default: site.redirect_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/mvp.css">

  </head>
  <body>
    <header>
      <nav>
          <a href="{{ site.baseurl }}/">
            <h1>Koalitionstracker</h1>
          </a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>

    <script src="{{ site.baseurl }}/assets/script.js"></script>
  </body>
</html>
